.container {
  height:auto;
}
.virus-card {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 5px;

  h2 {
    font-size: 20px;
  font-weight: bold;
  margin: 0;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.virus-info {
  padding: 16px;
}

.container-fluid {
  display: flex;
  align-items: center;
}

.right-bottom {
  position: a
}
