.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.rotate-180 {
  transform: rotate(180deg);
  display: inline-block;
}

/* Couleurs personnalisées */
.text-logo {
  color: #FA345A; /* Couleur pour le logo */
  transition: color 0.3s ease-in-out; /* Animation pour le hover */
}

.text-logo:hover {
  color: #FA345A; /* Changement de couleur au survol */
}

.text-brand {
  color: #FA345A; /* Couleur pour le texte */
  font-weight: bold;
}

.text-brand:hover {
  color: #FA345A; /* Changement de couleur au survol */
}

.btn-add-virus {
  background-color: #FA345A;
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 50px; /* Bords complètement arrondis */
  padding: 10px 20px; /* Espacement interne */
  text-decoration: none; /* Supprime le soulignement */
  display: inline-block; /* Assure l'affichage en ligne */
  transition: background-color 0.3s ease; /* Animation au survol */
}

.btn-add-virus:hover {
  background-color: #E41D5C; /* Couleur au survol */
}

.btn-add-virus:hover,
.btn-add-virus:focus,
.btn-add-virus:active {
  color: white; /* Conserve la couleur blanche au survol et lors du clic */
  text-decoration: none; /* Supprime également le soulignement */
}
