.star-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.text-warning {
  color: gold !important; /* Couleur des étoiles sélectionnées */
}
.text-secondary {
  color: lightgray !important; /* Couleur des étoiles non sélectionnées */
}
