.virus-background {
  background-image: url('https://previews.123rf.com/images/valeriyador/valeriyador2003/valeriyador200300119/143572397-antécédents-médicaux-avec-l-icône-du-virus-modèle-de-doodle-sans-couture-de-médecine-soins-de.jpg');
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
}

.virus-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.virus-card-header {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  border-radius: 5px;
}

.accordion-button {
  color:  #ddd;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:hover {
  color: #FA345A;
  background-color:  #ddd;
  border-color:  #ddd !important;
}

.accordion-button:not(.collapsed) {
  color: #0c0c0c !important;
  background-color: #ddd !important;
  border-color: #FA345A !important;
}

.accordion-button i {
  color:  #ddd;
}

.accordion-button:not(.collapsed) i {
  color: #ddd !important;
}

.accordion-button:hover i {
  color: #ddd !important;
}
